<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/layout :: site-head"></head>
<header th:replace="fragments/layout :: logged-in"></header>
<body>
<h1 th:text="'Welcome ' + ${username} + ' Your Tech Posts!'"></h1>
<div th:each="post : ${posts}">
  <h3 th:text="${post.title}"></h3>
  <i>Posted On</i>
  <span th:text="${#temporals.format(post.localDate, 'dd-MM-yyyy')}"></span>
  <p th:text="${post.content}"></p>
  <div>
    <a th:href="@{/posts/edit(postId=${post.id})}">Edit</a>
    <form th:action="@{/posts/delete(postId=${post.id})}" th:method="delete">
      <input type="submit" value="Delete" />
    </form>
  </div>
</div>
</body>
</html>