<!DOCTYPE html>
<html>
<head>
  <title>TechBlog</title>
</head>
<body>
<a name="login" href="/users/login">Login</a>
<a name="register" href="/users/registration">Register</a>
<h1>Please Register:</h1>
<form action="/users/registration" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="pwd">Password:</label>
  <input type="password" id="pwd" name="pwd">
  <label for="fullname">FullName:</label>
  <input type="text" id="fullname" name="fullname">
  <input type="submit" value="Register">
</form>
</body>
</html>