<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
  <title>TechBlog</title>
</head>
<header th:replace="fragments/layout :: logged-out"></header>
<body>
<h1>Please Register:</h1>
<form th:action="@{/users/registration}" th:object="${user}" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username">
  <label for="password">Password:</label>
  <input type="password" id="password" name="password">
  <label for="fullname">FullName:</label>
  <input type="text" id="fullname" name="fullname">
  <input type="submit" value="Register">
</form>
</body>
</html>