<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Mavixk Web Page</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <style>
    body{
      text-align:center;
      background:#f0f0f0;
    }
    header{
      text-align:center;
      margin-bottom:40px;
    }
    ul{
      list-style-type:none;
    }
  </style>

</head>
<body>
<header>
  <nav>
    <ul>
      <li><h1>MyWeb.com</h1></li>
    </ul>
  </nav>
</header>
<div class="container">
<section>
  <article>
    <header>
      <h3>HTML5 Info</h3>
      <p>Posted on <time datetime="2020-06-11T16:31:24+02:00">June
        11th 2020</time> by <a
          href="https://www.linkedin.com/in/pritesh-singh-0053a21a/">
        Mavixk</a>
       </header>
    <p>HTML5 is the latest evolution of the standard that defines HTML.
      The term represents two different concepts.
      It is a new version of the language HTML, with new elements,
          attributes, and behaviors, and a larger set of technologies
        that allows the building of more diverse and powerful Web
        sites and applications. This set is sometimes called HTML5 & friends and often shortened to just HTML5.</p>
  </article>
  <br/>
  <article>
    <p><h3>HTML5 training video</h3></p>
    <iframe width="500" height="340"
            src="https://www.youtube.com/embed/DPnqb74Smug" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </article>
</section>
<aside>
  <h2>About Mavixk</h2>
  <p><a name="linkedin profile"
        href="https://www.linkedin.com/in/pritesh-singh-0053a21a/">Linkedin
  </a></p>
  <p><a name="github profile"
        href="https://github.com/priteshkumar">GitHub</a></p>
</aside>
</div>
<footer>
  <p>Copyright 2020 Pritesh Kumar</p>
</footer>
</aside>
</body>
</html>